target/
bin/
.svn/
.classpath
.project
.settings
MANIFEST.MF
deploy.sh
*.class
*.dll
*.exe
*.o
*.so
jdbc.properties
logs/
/iscript-core-client/src/test/java/com/lezo/iscript/yeam/ConfigParserTest.java