<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.baidu.mall.market.dao.client.MarketItemMapper">
	<resultMap type="MarketItemMapper" id="RM_MarketItemMapper">
		<result column="id" property="id"/>
		<result column="market_info_id" property="marketInfoId"/>
		<result column="market_template_item_id" property="marketTemplateItemId"/>
		<result column="market_item_value" property="marketItemValue"/>
		<result column="deleted" property="deleted"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<sql id="MarketItemMapper-coloumn-list">
		id
		,market_info_id
		,market_template_item_id
		,market_item_value
		,deleted
		,update_time
	</sql>
	<insert id="batchInsert" parameterType="MarketItemMapper">
		INSERT INTO market_item(
		<include refid="MarketItemMapper-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.marketInfoId},#{item.marketTemplateItemId},#{item.marketItemValue},#{item.deleted},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="MarketItemMapper">
		UPDATE market_item SET
		id=#{id}
		,market_info_id=#{marketInfoId}
		,market_template_item_id=#{marketTemplateItemId}
		,market_item_value=#{marketItemValue}
		,deleted=#{deleted}
		,update_time=#{updateTime}
		WHERE ID=#{id}
	</update>
</mapper>