<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.BrandShopDao">
	<resultMap type="BrandShopDto" id="RM_BrandShopDto">
		<result column="ID" property="id"/>
		<result column="SITE_ID" property="siteId"/>
		<result column="BRAND_CODE" property="brandCode"/>
		<result column="BRAND_NAME" property="brandName"/>
		<result column="SHOP_NAME" property="shopName"/>
		<result column="SHOP_CODE" property="shopCode"/>
		<result column="SHOP_URL" property="shopUrl"/>
		<result column="SHOP_TYPE" property="shopType"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="BrandShopDto-coloumn-list">
		SITE_ID
		,BRAND_CODE
		,BRAND_NAME
		,SHOP_NAME
		,SHOP_CODE
		,SHOP_URL
		,SHOP_TYPE
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="BrandShopDto">
		INSERT INTO T_BRAND_SHOP(
		<include refid="BrandShopDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.siteId},#{item.brandCode},#{item.brandName},#{item.shopName},#{item.shopCode},#{item.shopUrl},#{item.shopType},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="BrandShopDto">
		UPDATE T_BRAND_SHOP SET
		SITE_ID=#{siteId},
		BRAND_CODE=#{brandCode},
		BRAND_NAME=#{brandName},
		SHOP_NAME=#{shopName},
		SHOP_CODE=#{shopCode},
		SHOP_URL=#{shopUrl},
		SHOP_TYPE=#{shopType},
		CREATE_TIME=#{createTime},
		UPDATE_TIME=#{updateTime}
		WHERE ID=#{id}
	</update>
</mapper>