<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vipshop.crawler.price.dao.DailyBrandCompetitionDao">
	<resultMap type="DailyBrandCompetitionDto" id="RM_DailyBrandCompetitionDto">
		<result column="id" property="id"/>
		<result column="category_name" property="categoryName"/>
		<result column="category_id" property="categoryId"/>
		<result column="brand_name" property="brandName"/>
		<result column="pt_brand_name" property="ptBrandName"/>
		<result column="sell_date_start" property="sellDateStart"/>
		<result column="sell_date_end" property="sellDateEnd"/>
		<result column="sales_amount_per" property="salesAmountPer"/>
		<result column="competitiveness_index" property="competitivenessIndex"/>
		<result column="site_id" property="siteId"/>
		<result column="brand_count" property="brandCount"/>
		<result column="vcode_count" property="vcodeCount"/>
		<result column="ocode_count" property="ocodeCount"/>
		<result column="vmatch_count" property="vmatchCount"/>
		<result column="calc_count" property="calcCount"/>
		<result column="vavg_price" property="vavgPrice"/>
		<result column="oavg_price" property="oavgPrice"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>
	<sql id="DailyBrandCompetitionDto-coloumn-list">
		id
		,category_name
		,category_id
		,brand_name
		,pt_brand_name
		,sell_date_start
		,sell_date_end
		,sales_amount_per
		,competitiveness_index
		,site_id
		,brand_count
		,vcode_count
		,ocode_count
		,vmatch_count
		,calc_count
		,vavg_price
		,oavg_price
		,create_time
		,update_time
	</sql>
	<insert id="batchInsert" parameterType="DailyBrandCompetitionDto">
		INSERT INTO T_PRICING_DAILY_BRAND_COMPETITION(
		<include refid="DailyBrandCompetitionDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.categoryName},#{item.categoryId},#{item.brandName},#{item.ptBrandName},#{item.sellDateStart},#{item.sellDateEnd},#{item.salesAmountPer},#{item.competitivenessIndex},#{item.siteId},#{item.brandCount},#{item.vcodeCount},#{item.ocodeCount},#{item.vmatchCount},#{item.calcCount},#{item.vavgPrice},#{item.oavgPrice},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="updateOne" parameterType="DailyBrandCompetitionDto">
		UPDATE T_PRICING_DAILY_BRAND_COMPETITION SET
		id=#{id},
		category_name=#{categoryName},
		category_id=#{categoryId},
		brand_name=#{brandName},
		pt_brand_name=#{ptBrandName},
		sell_date_start=#{sellDateStart},
		sell_date_end=#{sellDateEnd},
		sales_amount_per=#{salesAmountPer},
		competitiveness_index=#{competitivenessIndex},
		site_id=#{siteId},
		brand_count=#{brandCount},
		vcode_count=#{vcodeCount},
		ocode_count=#{ocodeCount},
		vmatch_count=#{vmatchCount},
		calc_count=#{calcCount},
		vavg_price=#{vavgPrice},
		oavg_price=#{oavgPrice},
		create_time=#{createTime},
		update_time=#{updateTime}
		WHERE ID=#{id}
	</update>
</mapper>