<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean id="cacheTaskTimer" class="com.lezo.iscript.yeam.tasker.CacheTaskTimer">
		<property name="tasker" value="tasker" />
	</bean>
	<bean id="cacheConfigTimer" class="com.lezo.iscript.yeam.tasker.CacheConfigTimer">
		<property name="tasker" value="tasker" />
	</bean>
	<bean id="signTaskTimer" class="com.lezo.iscript.yeam.tasker.SignTaskTimer">
	</bean>
	<bean id="saveSessionTimer" class="com.lezo.iscript.yeam.tasker.SaveSessionTimer">
	</bean>

	<bean id="taskPriorityStorager" class="com.lezo.iscript.yeam.storage.TaskPriorityStorager">
	</bean>
	<!-- <bean id="sessionStorager" class="com.lezo.iscript.yeam.storage.SessionStorager"> 
		</bean> -->
	<!-- <bean id="productStatStorager" class="com.lezo.iscript.yeam.storage.ProductStatStorager"> 
		</bean> <bean id="productStorager" class="com.lezo.iscript.yeam.storage.ProductStorager"> 
		</bean> -->

	<bean id="taskStorageTimeTrigger" class="com.lezo.iscript.common.storage.StorageTimeTrigger">
		<property name="listeners">
			<list>
				<ref bean="taskPriorityStorager" />
			</list>
		</property>
	</bean>

	<!-- Enables the Spring Task @Scheduled programming model -->
	<task:executor id="executor" pool-size="8" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven executor="executor"
		scheduler="scheduler" />
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="cacheConfigTimer" method="run"
			fixed-delay="300000" />
	</task:scheduled-tasks>

	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="cacheTaskTimer" method="run"
			fixed-delay="30000" />
	</task:scheduled-tasks>

	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="taskStorageTimeTrigger" method="doTrigger"
			fixed-delay="60000" />
	</task:scheduled-tasks>

	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="saveSessionTimer" method="run"
			fixed-delay="300000"/>
	</task:scheduled-tasks>
	<bean id="writeFlushTimer" class="com.lezo.iscript.yeam.resultmgr.writer.WriteFlushTimer">
	</bean>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="writeFlushTimer" method="run"
			fixed-delay="60000"/>
	</task:scheduled-tasks>
	<bean id="RefreshClientTokenTimer" class="com.lezo.iscript.yeam.tasker.RefreshClientTokenTimer">
	</bean>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="RefreshClientTokenTimer" method="run"
			fixed-delay="300000"/>
	</task:scheduled-tasks>
	<bean id="LoadClientTokenTimer" class="com.lezo.iscript.yeam.tasker.LoadClientTokenTimer">
	</bean>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="LoadClientTokenTimer" method="run"
			fixed-delay="300000" />
	</task:scheduled-tasks>
	<!-- 
	<bean id="ReloadProxyTimer" class="com.lezo.iscript.yeam.tasker.ReloadProxyTimer">
	</bean>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="ReloadProxyTimer" method="run"
			fixed-delay="300000" />
	</task:scheduled-tasks>
	 -->
</beans>