<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean id="cacheTaskTimer" class="com.lezo.iscript.yeam.tasker.CacheTaskTimer">
		<property name="tasker" value="tasker" />
	</bean>
	<bean id="assembleTaskTimer" class="com.lezo.iscript.yeam.tasker.AssembleTaskTimer">
		<property name="tasker" value="tasker" />
	</bean>
	<bean id="signTaskTimer" class="com.lezo.iscript.yeam.tasker.SignTaskTimer">
	</bean>
	<bean id="flushTaskTimer" class="com.lezo.iscript.yeam.tasker.FlushTaskTimer">
	</bean>

	<!-- Enables the Spring Task @Scheduled programming model -->
	<task:executor id="executor" pool-size="3" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven executor="executor"
		scheduler="scheduler" />
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="assembleTaskTimer" method="run"
			fixed-delay="30000" />
	</task:scheduled-tasks>
	
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="cacheTaskTimer" method="run"
			fixed-delay="60000" />
	</task:scheduled-tasks>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="flushTaskTimer" method="run"
			fixed-delay="60000" />
	</task:scheduled-tasks>
	
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="signTaskTimer" method="run"
			cron="0 20 9 * * ?"/>
	</task:scheduled-tasks>
</beans>