<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.BrandDao">
	<resultMap type="BrandDto" id="RM_BrandDto">
		<result column="ID" property="id"/>
		<result column="SITE_ID" property="siteId"/>
		<result column="BRAND_CODE" property="brandCode"/>
		<result column="BRAND_NAME" property="brandName"/>
		<result column="BRAND_URL" property="brandUrl"/>
		<result column="SYNONYM" property="synonym"/>
		<result column="REGION" property="region"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="BrandDto-coloumn-list">
		SITE_ID
		,BRAND_CODE
		,BRAND_NAME
		,BRAND_URL
		,SYNONYM
		,REGION
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="BrandDto">
		INSERT INTO T_BRAND(
		<include refid="BrandDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.siteId},#{item.brandCode},#{item.brandName},#{item.brandUrl},#{item.synonym},#{item.region},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<insert id="insertBrandDtoAndSetId" parameterType="BrandDto" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO T_BRAND(
		<include refid="BrandDto-coloumn-list" />
		)
		VALUES
			(#{siteId},#{brandCode},#{brandName},#{brandUrl},#{synonym},#{region},#{createTime},#{updateTime})
	</insert>
	<update id="batchUpdate" parameterType="BrandDto">
		UPDATE T_BRAND SET
		SITE_ID=#{siteId},
		BRAND_CODE=#{brandCode},
		BRAND_NAME=#{brandName},
		BRAND_URL=#{brandUrl},
		SYNONYM=#{synonym},
		REGION=#{region}
		WHERE ID=#{id}
	</update>
	<select id="getBrandDtoByCodes" parameterType="map" resultMap="RM_BrandDto">
	    SELECT * FROM T_BRAND
	    <where>
	      <if test="brandCodeList!=null and !brandCodeList.isEmpty()">
	        <foreach collection="brandCodeList" item="code" open="AND BRAND_CODE IN(" separator="," close=")"> 
	          #{code}
	        </foreach>
	      </if>
	      <if test="brandNameList!=null and !brandNameList.isEmpty()">
	        <foreach collection="brandNameList" item="name" open="AND BRAND_NAME IN(" separator="," close=")"> 
	          #{name}
	        </foreach>
	      </if>
	      <if test="siteId!=null">
	        AND SITE_ID=#{siteId}
	      </if>
	    </where>
	</select>
	<select id="getBrandDtoByIds" parameterType="map" resultMap="RM_BrandDto">
	    SELECT * FROM T_BRAND
	    <where>
	      <if test="idList!=null and !idList.isEmpty()">
	        <foreach collection="idList" item="id" open="AND ID IN(" separator="," close=")"> 
	          #{id}
	        </foreach>
	      </if>
	      <if test="idList==null || idList.isEmpty()">
	        AND 1=0
	      </if>
	    </where>
	</select>
</mapper>