<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.LuceneIndexDao">
	<resultMap type="LuceneIndexDto" id="RM_LuceneIndexDto">
		<result column="ID" property="id"/>
		<result column="MESSAGE" property="message"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="LuceneIndexDto-coloumn-list">
		MESSAGE
		,STATUS
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="LuceneIndexDto">
		INSERT INTO T_LUCENE_INDEX(
		<include refid="LuceneIndexDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.message},#{item.status},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="LuceneIndexDto">
		UPDATE T_LUCENE_INDEX SET
		MESSAGE=#{message},
		STATUS=#{status}
		WHERE ID=#{id}
	</update>
	<select id="getLatestLuceneIndexDto" parameterType="map" resultMap="RM_LuceneIndexDto">
	  SELECT * FROM T_LUCENE_INDEX
	  WHERE STATUS=#{status}
	  ORDER CREATE_TIME DESC
	  LIMIT 1
	</select>
</mapper>