<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.PromotionMapDao">
	<resultMap type="PromotionMapDto" id="RM_PromotionMapDto">
		<result column="ID" property="id"/>
		<result column="SITE_ID" property="siteId"/>
		<result column="PRODUCT_CODE" property="productCode"/>
		<result column="PROMOTE_CODE" property="promoteCode"/>
		<result column="PROMOTE_NAME" property="promoteName"/>
		<result column="PROMOTE_DETAIL" property="promoteDetail"/>
		<result column="PROMOTE_NUMS" property="promoteNums"/>
		<result column="PROMOTE_URL" property="promoteUrl"/>
		<result column="PROMOTE_EXTRA" property="promoteExtra"/>
		<result column="PROMOTE_TYPE" property="promoteType"/>
		<result column="PROMOTE_STATUS" property="promoteStatus"/>
		<result column="IS_DELETE" property="isDelete"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="PromotionMapDto-coloumn-list">
		SITE_ID
		,PRODUCT_CODE
		,PROMOTE_CODE
		,PROMOTE_NAME
		,PROMOTE_DETAIL
		,PROMOTE_NUMS
		,PROMOTE_URL
		,PROMOTE_EXTRA
		,PROMOTE_TYPE
		,PROMOTE_STATUS
		,IS_DELETE
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="PromotionMapDto">
		INSERT INTO T_PROMOTION_MAP(
		<include refid="PromotionMapDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.siteId},#{item.productCode},#{item.promoteCode},#{item.promoteName},#{item.promoteDetail},#{item.promoteNums},#{item.promoteUrl},#{item.promoteExtra},#{item.promoteType},#{item.promoteStatus},#{item.isDelete},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="updateOne" parameterType="PromotionMapDto">
		UPDATE T_PROMOTION_MAP SET
		PROMOTE_CODE=#{promoteCode},
		PROMOTE_NAME=#{promoteName},
		PROMOTE_DETAIL=#{promoteDetail},
		PROMOTE_NUMS=#{promoteNums},
		PROMOTE_URL=#{promoteUrl},
		PROMOTE_EXTRA=#{promoteExtra},
		PROMOTE_TYPE=#{promoteType},
		PROMOTE_STATUS=#{promoteStatus},
		IS_DELETE=#{isDelete}
		WHERE ID=#{id}
	</update>
	
	<update id="batchUpdateIsDelete" parameterType="map">
		UPDATE T_PROMOTION_MAP SET
		IS_DELETE=#{isDelete}
		WHERE 1=1
		<foreach collection="idList" item="id" open="AND ID IN("
			close=")" separator=",">
			#{id}
		</foreach>
	</update>
	
	<select id="getPromotionMapDtosByProductCodes" parameterType="map" resultMap="RM_PromotionMapDto">
	  SELECT ID,<include refid="PromotionMapDto-coloumn-list"/>
	  FROM T_PROMOTION_MAP
	  WHERE SITE_ID=#{siteId}
	  <foreach collection="productCodes" item="pCode" open="AND PRODUCT_CODE IN("
			close=")" separator=",">
			#{pCode}
	  </foreach>
	  <if test="promoteType !=null">
	    AND PROMOTE_TYPE=#{promoteType}
	  </if>
	  <if test="promoteStatus !=null">
		AND PROMOTE_STATUS=#{promoteStatus}
	  </if>
	  <if test="isDelete !=null">
		AND IS_DELETE=#{isDelete}
	  </if>
	</select>
	<select id="getPromotionMapDtosByPromotCodes" parameterType="map" resultMap="RM_PromotionMapDto">
	  SELECT ID,<include refid="PromotionMapDto-coloumn-list"/>
	  FROM T_PROMOTION_MAP
	  WHERE SITE_ID=#{siteId}
	  <foreach collection="promotCodes" item="mCode" open="AND PROMOTE_CODE IN("
			close=")" separator=",">
			#{mCode}
	  </foreach>
	  <if test="promoteType !=null">
	    AND PROMOTE_TYPE=#{promoteType}
	  </if>
	  <if test="promoteStatus !=null">
		AND PROMOTE_STATUS=#{promoteStatus}
	  </if>
	  <if test="isDelete !=null">
		AND IS_DELETE=#{isDelete}
	  </if>
	</select>
</mapper>