<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.ProxyAddrDao">
	<resultMap type="ProxyAddrDto" id="RM_ProxyAddrDto">
		<result column="ID" property="id" />
		<result column="IP" property="ip" />
		<result column="PORT" property="port" />
		<result column="ADDR_CODE" property="addrCode" />
		<result column="SOURCE" property="source" />
		<result column="REGION_NAME" property="regionName" />
		<result column="ISP_NAME" property="ispName" />
		<result column="IS_DELETE" property="isDelete" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
		<result column="TYPE" property="type" />
		<result column="REMARK" property="remark" />
		<result column="SEED_ID" property="seedId" />
	</resultMap>
	<sql id="ProxyAddrDto-coloumn-list">
		IP
		,PORT
		,ADDR_CODE
		,SOURCE
		,REGION_NAME
		,ISP_NAME
		,IS_DELETE
		,CREATE_TIME
		,UPDATE_TIME
		,TYPE
		,REMARK
		,SEED_ID
	</sql>
	<insert id="batchInsert" parameterType="ProxyAddrDto">
		INSERT INTO T_PROXY_ADDR(
		<include refid="ProxyAddrDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.ip},#{item.port},#{item.addrCode},#{item.source},#{item.regionName},#{item.ispName},#{item.isDelete},#{item.createTime},#{item.updateTime},#{item.type},#{item.remark},#{item.seedId})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="ProxyAddrDto">
		UPDATE T_PROXY_ADDR SET
		IP=#{ip},
		PORT=#{port},
		ADDR_CODE=#{addrCode},
		SOURCE=#{source},
		REGION_NAME=#{regionName},
		ISP_NAME=#{ispName},
		IS_DELETE=#{isDelete},
		TYPE=#{type},
		REMARK=#{remark},
		SEED_ID=#{seedId},
		UPDATE_TIME=#{updateTime}
		WHERE ID=#{id}
	</update>
	<select id="getProxyAddrDtosByAddrCodes" parameterType="map"
		resultMap="RM_ProxyAddrDto">
		SELECT ID,
		<include refid="ProxyAddrDto-coloumn-list" />
		FROM T_PROXY_ADDR
		<where>
			<foreach collection="addrCodeList" item="addrCode" open="ADDR_CODE IN("
				close=")" separator=",">
				#{addrCode}
			</foreach>
		</where>
	</select>
	<select id="getNullRegionProxyAddrDtos" parameterType="map"
		resultMap="RM_ProxyAddrDto">
		SELECT ID,
		<include refid="ProxyAddrDto-coloumn-list" />
		FROM T_PROXY_ADDR
		<where>
			REGION_NAME IS NULL
			<if test="type !=null">
				AND TYPE=#{type}
			</if>
		</where>
	</select>
	<select id="getProxyAddrDtosByCreateTime" parameterType="map"
		resultMap="RM_ProxyAddrDto">
		SELECT ID,
		<include refid="ProxyAddrDto-coloumn-list" />
		FROM T_PROXY_ADDR
		<where>
			<if test="afterTime !=null">
				CREATE_TIME>#{afterTime}
			</if>
		</where>
	</select>
	<select id="getProxyAddrDtosByFromId" parameterType="map"
		resultMap="RM_ProxyAddrDto">
		SELECT ID,
		<include refid="ProxyAddrDto-coloumn-list" />
		FROM T_PROXY_ADDR
		WHERE  ID > #{fromId} LIMIT #{limit}
	</select>
</mapper>