<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.CrawlerWarnHisDao">
	<resultMap type="CrawlerWarnHisDto" id="RM_CrawlerWarnHisDto">
		<result column="ID" property="id"/>
		<result column="TYPE" property="type"/>
		<result column="CLIENT_NAME" property="clientName"/>
		<result column="MAC_ADDR" property="macAddr"/>
		<result column="TASK_ID" property="taskId"/>
		<result column="PROCESS_ID" property="processId"/>
		<result column="PARAM" property="param"/>
		<result column="RETRY" property="retry"/>
		<result column="MESSAGE" property="message"/>
		<result column="WARN_NAME" property="warnName"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="CrawlerWarnHisDto-coloumn-list">
		TYPE
		,CLIENT_NAME
		,MAC_ADDR
		,TASK_ID
		,PROCESS_ID
		,PARAM
		,RETRY
		,WARN_NAME
		,MESSAGE
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="CrawlerWarnHisDto">
		INSERT INTO T_CRAWLER_WARN_HIS(
		<include refid="CrawlerWarnHisDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.type},#{item.clientName},#{item.macAddr},#{item.taskId},#{item.processId},#{item.param},#{item.retry},#{item.warnName},#{item.message},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="CrawlerWarnHisDto">
		UPDATE T_CRAWLER_WARN_HIS SET
		TYPE=#{type},
		CLIENT_NAME=#{clientName},
		MAC_ADDR=#{macAddr},
		TASK_ID=#{taskId},
		PROCESS_ID=#{processId},
		PARAM=#{param},
		RETRY=#{retry},
		WARN_NAME=#{warnName},
		MESSAGE=#{message}
		WHERE ID=#{id}
	</update>
</mapper>