<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.ClientTokenDao">
	<resultMap type="ClientTokenDto" id="RM_ClientTokenDto">
		<result column="ID" property="id"/>
		<result column="CLIENT_TYPE" property="clientType"/>
		<result column="CLIENT_ID" property="clientId"/>
		<result column="CLIENT_SECRET" property="clientSecret"/>
		<result column="CLIENT_PARAMS" property="clientParams"/>
		<result column="REFRESH_TOKEN" property="refreshToken"/>
		<result column="ACCESS_TOKEN" property="accessToken"/>
		<result column="NEXT_REFRESH_TIME" property="nextRefreshTime"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="ClientTokenDto-coloumn-list">
		CLIENT_TYPE
		,CLIENT_ID
		,CLIENT_SECRET
		,CLIENT_PARAMS
		,REFRESH_TOKEN
		,ACCESS_TOKEN
		,NEXT_REFRESH_TIME
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="ClientTokenDto">
		INSERT INTO T_CLIENT_TOKEN(
		<include refid="ClientTokenDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.clientType},#{item.clientId},#{item.clientSecret},#{item.clientParams},#{item.refreshToken},#{item.accessToken},#{item.nextRefreshTime},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="ClientTokenDto">
		UPDATE T_CLIENT_TOKEN SET
		CLIENT_TYPE=#{clientType}
		,CLIENT_ID=#{clientId}
		,CLIENT_SECRET=#{clientSecret}
		,CLIENT_PARAMS=#{clientParams}
		,REFRESH_TOKEN=#{refreshToken}
		,ACCESS_TOKEN=#{accessToken}
		,NEXT_REFRESH_TIME=#{nextRefreshTime}
		WHERE ID=#{id}
	</update>
	<select id="getClientTokenDtoByRefreshDate" parameterType="map" resultMap="RM_ClientTokenDto">
	   SELECT * FROM T_CLIENT_TOKEN
	   <where>
	       <if test="fromRefreshDate != null and toRefreshDate != null">
	       <![CDATA[
	       NEXT_REFRESH_TIME>=#{fromRefreshDate} AND NEXT_REFRESH_TIME<#{toRefreshDate}
	       ]]>
	        </if>
	       <if test="clientType != null">
	        AND CLIENT_TYPE=#{clientType}
	       </if>
	   </where>
	</select>
	<select id="getClientTokenDtoByUpdateTime" parameterType="map" resultMap="RM_ClientTokenDto">
	   SELECT * FROM T_CLIENT_TOKEN
	   <where>
	       <if test="afterTime != null">
	       <![CDATA[
	       UPDATE_TIME>#{afterTime}
	       ]]>
	        </if>
	   </where>
	</select>
</mapper>