<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.SessionDailyDao">
	<resultMap type="SessionDailyDto" id="RM_SessionDailyDto">
		<result column="ID" property="id"/>
		<result column="CLIEN_NAME" property="clienName"/>
		<result column="REQUEST_SIZE" property="requestSize"/>
		<result column="RESPONE_SIZE" property="responeSize"/>
		<result column="ERROR_SIZE" property="errorSize"/>
		<result column="SUCCESS_NUM" property="successNum"/>
		<result column="FAIL_NUM" property="failNum"/>
		<result column="WORK_TIME" property="workTime"/>
		<result column="SETUP_TIMES" property="setupTimes"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="SessionDailyDto-coloumn-list">
		CLIEN_NAME
		,REQUEST_SIZE
		,RESPONE_SIZE
		,ERROR_SIZE
		,SUCCESS_NUM
		,FAIL_NUM
		,WORK_TIME
		,SETUP_TIMES
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="SessionDailyDto">
		INSERT INTO T_SESSION_DAILY(
		<include refid="SessionDailyDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.clienName},#{item.requestSize},#{item.responeSize},#{item.errorSize},#{item.successNum},#{item.failNum},#{item.workTime},#{item.setupTimes},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="SessionDailyDto">
		UPDATE T_SESSION_DAILY SET
		CLIEN_NAME=#{clienName},
		REQUEST_SIZE=#{requestSize},
		RESPONE_SIZE=#{responeSize},
		ERROR_SIZE=#{errorSize},
		SUCCESS_NUM=#{successNum},
		FAIL_NUM=#{failNum},
		WORK_TIME=#{workTime},
		SETUP_TIMES=#{setupTimes},
		CREATE_TIME=#{createTime},
		UPDATE_TIME=#{updateTime}
		WHERE ID=#{id}
	</update>
</mapper>