<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.TaskPriorityDao">
	<resultMap type="TaskPriorityDto" id="RM_TaskPriorityDto">
		<result column="TASK_ID" property="taskId" />
		<result column="BATCH_ID" property="batchId" />
		<result column="TYPE" property="type" />
		<result column="URL" property="url" />
		<result column="PARAMS" property="params" />
		<result column="LEVEL" property="level" />
		<result column="STATUS" property="status" />
		<result column="SOURCE" property="source" />
		<result column="CREAT_TIME" property="creatTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	<sql id="TaskPriorityDto-coloumn-list">
		BATCH_ID ,TYPE ,URL ,PARAMS ,LEVEL ,STATUS ,SOURCE
		,CREAT_TIME ,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="map">
		INSERT INTO T_TASK_PRIORITY(
		<include refid="TaskPriorityDto-coloumn-list" />
		)
		VALUES
		<foreach collection="dtoList" item="item" index="index"
			separator=",">
			(#{item.batchId},#{item.type},#{item.url},#{item.params},#{item.level},#{item.status},#{item.source},#{item.creatTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdateStatusByIds" parameterType="map">
		UPDATE T_TASK_PRIORITY SET
		STATUS=#{status}
		<foreach collection="taskIds" item="taskId" separator=","
			open="WHERE TASK_ID IN(" close=")">
			#{taskId}
		</foreach>
	</update>
	<select id="getTaskPriorityDtosByType" parameterType="map"
		resultMap="RM_TaskPriorityDto">
		SELECT * FROM T_TASK_PRIORITY
		WHERE TYPE=#{type}
		AND
		LEVEL=#{level}
		AND STATUS=#{status}
		LIMIT #{limit}
	</select>
	<select id="getTaskTypeLevels" parameterType="map"
		resultMap="RM_TaskPriorityDto">
		SELECT * FROM T_TASK_PRIORITY
		WHERE 1=1
		<if test="typeList!=null">
			<foreach collection="typeList" item="type" separator=","
				open="AND TYPE IN(" close=")">
				#{type}
			</foreach>
		</if>
		AND STATUS=#{status}
		GROUP BY
		TYPE ASC,LEVEL DESC
	</select>
	<delete id="deleteTaskPriorityDtos" parameterType="map">
	   DELETE FROM T_TASK_PRIORITY
	   WHERE TYPE=#{type} AND STATUS=#{status}
	</delete>
</mapper>