<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.MessageDao">
	<resultMap type="MessageDto" id="RM_MessageDto">
		<result column="ID" property="id" />
		<result column="NAME" property="name" />
		<result column="MESSAGE" property="message" />
		<result column="SOURCE" property="source" />
		<result column="REMARK" property="remark" />
		<result column="STATUS" property="status" />
		<result column="SORT_CODE" property="sortCode" />
		<result column="CREATE_TIME" property="createTime" />
		<result column="UPDATE_TIME" property="updateTime" />
	</resultMap>
	<sql id="MessageDto-coloumn-list">
		NAME
		,MESSAGE
		,SOURCE
		,REMARK
		,STATUS
		,SORT_CODE
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="MessageDto">
		INSERT INTO T_MESSAGE(
		<include refid="MessageDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.name},#{item.message},#{item.source},#{item.remark},#{item.status},#{item.sortCode},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="MessageDto">
		UPDATE T_MESSAGE SET
		NAME=#{name},
		MESSAGE=#{message},
		SOURCE=#{source},
		REMARK=#{remark},
		STATUS=#{status},
		SORT_CODE=#{sortCode},
		CREATE_TIME=#{createTime},
		UPDATE_TIME=#{updateTime}
		WHERE ID=#{id}
	</update>
	<update id="batchUpdateStatus" parameterType="map">
		UPDATE T_MESSAGE SET
		REMARK=#{remark},
		STATUS=#{status}
		WHERE 1=1
		<foreach collection="idList" item="id" open="AND ID IN("
			close=")" separator=",">
			#{id}
		</foreach>
	</update>
	<select id="getMessageDtos" parameterType="map" resultMap="RM_MessageDto">
		SELECT ID,
		<include refid="MessageDto-coloumn-list" />
		FROM T_MESSAGE
		WHERE 1=1
		<if test="nameList==null || nameList.isEmpty()">
			AND 1=0
		</if>
		<if test="nameList !=null &amp;&amp; !nameList.isEmpty()">
			<foreach collection="nameList" item="name" open="AND NAME IN("
				separator="," close=")">
				#{name}
			</foreach>
		</if>
		<if test="status != null">
			AND STATUS=#{status}
		</if>
		LIMIT #{limit}
	</select>
</mapper>