<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.ProxyHomeDao">
	<resultMap type="ProxyHomeDto" id="RM_ProxyHomeDto">
		<result column="ID" property="id"/>
		<result column="HOME_URL" property="homeUrl"/>
		<result column="CONFIG_PARSER" property="configParser"/>
		<result column="MAX_PAGE" property="maxPage"/>
		<result column="IS_DELETE" property="isDelete"/>
		<result column="STATUS" property="status"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="ProxyHomeDto-coloumn-list">
		HOME_URL
		,CONFIG_PARSER
		,MAX_PAGE
		,IS_DELETE
		,STATUS
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="ProxyHomeDto">
		INSERT INTO T_PROXY_HOME(
		<include refid="ProxyHomeDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.homeUrl},#{item.configParser},#{item.maxPage},#{item.isDelete},#{item.status},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="ProxyHomeDto">
		UPDATE T_PROXY_HOME SET
		HOME_URL=#{homeUrl},
		CONFIG_PARSER=#{configParser},
		MAX_PAGE=#{maxPage},
		IS_DELETE=#{isDelete},
		STATUS=#{status}
		WHERE ID=#{id}
	</update>
	<update id="batchUpdateProxyHomeDtoStatus" parameterType="map"> 
	   UPDATE T_PROXY_HOME
	   SET STATUS=#{status}
	   WHERE 1=1
	   <foreach collection="idList" item="id" open="AND ID IN(" separator="," close=")">
	     #{id}
	   </foreach>
	</update>
	<select id="getProxyHomeDtoByStatus" parameterType="map" resultMap="RM_ProxyHomeDto">
	  SELECT * FROM T_PROXY_HOME
	  WHERE 1=1
	  <if test="status != null">
	    AND STATUS=#{status}
	  </if>
	  <if test="isDelete != null">
	    AND IS_DELETE=#{isDelete}
	  </if>
	</select>
	<select id="getProxyHomeDtoByUrl" parameterType="map" resultMap="RM_ProxyHomeDto">
	  SELECT * FROM T_PROXY_HOME
	  WHERE 1=1
	  <if test="urlList != null">
	    <foreach collection="urlList" item="url" open="AND HOME_URL IN(" separator="," close=")">
	     #{url}
	   </foreach>
	  </if>
	  <if test="isDelete != null">
	    AND IS_DELETE=#{isDelete}
	  </if>
	</select>
</mapper>