<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.ProxyAddrDao">
	<resultMap type="ProxyAddrDto" id="RM_ProxyAddrDto">
		<result column="ID" property="id"/>
		<result column="IP" property="ip"/>
		<result column="PORT" property="port"/>
		<result column="SOURCE" property="source"/>
		<result column="IS_DELETE" property="isDelete"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="ProxyAddrDto-coloumn-list">
		IP
		,PORT
		,SOURCE
		,IS_DELETE
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="ProxyAddrDto">
		INSERT INTO T_PROXY_ADDR(
		<include refid="ProxyAddrDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.ip},#{item.port},#{item.source},#{item.isDelete},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="ProxyAddrDto">
		UPDATE T_PROXY_ADDR SET
		IP=#{ip},
		PORT=#{port},
		SOURCE=#{source},
		IS_DELETE=#{isDelete},
		CREATE_TIME=#{createTime},
		UPDATE_TIME=#{updateTime}
		WHERE ID=#{id}
	</update>
	<select id="getProxyAddrDto" parameterType="map" resultMap="RM_ProxyAddrDto">
	  SELECT ID,<include refid="ProxyAddrDto-coloumn-list"/>
	  WHERE IP=#{ip} AND PORT=#{port}
	  LIMIT 1
	</select>
	<select id="getProxyAddrDtos" parameterType="map" resultMap="RM_ProxyAddrDto">
	  SELECT ID,<include refid="ProxyAddrDto-coloumn-list"/>
	  <where>
	    <foreach collection="ipList" item="ipValue" open="IP IN(" close=")" separator=",">
	      #{ipValue}
	    </foreach>
	  </where>
	</select>
</mapper>