<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lezo.iscript.service.crawler.dao.ProxyCollectHisDao">
	<resultMap type="ProxyCollectHisDto" id="RM_ProxyCollectHisDto">
		<result column="ID" property="id"/>
		<result column="SEED_ID" property="seedId"/>
		<result column="TOTAL_PAGE" property="totalPage"/>
		<result column="FETCH_PAGE" property="fetchPage"/>
		<result column="TOTAL_COUNT" property="totalCount"/>
		<result column="NEW_COUNT" property="newCount"/>
		<result column="CREATE_TIME" property="createTime"/>
		<result column="UPDATE_TIME" property="updateTime"/>
	</resultMap>
	<sql id="ProxyCollectHisDto-coloumn-list">
		SEED_ID
		,TOTAL_PAGE
		,FETCH_PAGE
		,TOTAL_COUNT
		,NEW_COUNT
		,CREATE_TIME
		,UPDATE_TIME
	</sql>
	<insert id="batchInsert" parameterType="ProxyCollectHisDto">
		INSERT INTO T_PROXY_COLLECT_HIS(
		<include refid="ProxyCollectHisDto-coloumn-list" />
		)
		VALUES
		<foreach collection="list" item="item" index="index"
			separator=",">
			(#{item.seedId},#{item.totalPage},#{item.fetchPage},#{item.totalCount},#{item.newCount},#{item.createTime},#{item.updateTime})
		</foreach>
	</insert>
	<update id="batchUpdate" parameterType="ProxyCollectHisDto">
		UPDATE T_PROXY_COLLECT_HIS SET
		SEED_ID=#{seedId}
		,TOTAL_PAGE=#{totalPage}
		,FETCH_PAGE=#{fetchPage}
		,TOTAL_COUNT=#{totalCount}
		,NEW_COUNT=#{newCount}
		WHERE ID=#{id}
	</update>
</mapper>