<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
    <!--默认都是单例的singleton，非单例scope="prototype"-->
	<bean id="springBeanUtils" class="com.lezo.iscript.spring.context.SpringBeanUtils" scope="singleton">
	</bean>
	<bean id="springBeanFactory" class="com.lezo.iscript.spring.context.SpringBeanFactory" scope="singleton">
	</bean>

</beans>  