<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">

	<bean id="pullJdListTimer" class="com.lezo.iscript.yeam.crawler.PullJdListTimer">
	</bean>
	<bean id="wccSimilarSearchTimer" class="com.lezo.iscript.yeam.crawler.WccSimilarSearchTimer">
	</bean>
	<bean id="HuihuiSimilarSearcher" class="com.lezo.iscript.yeam.crawler.HuihuiSimilarSearcher">
	</bean>
	<bean id="BarCodeSimilarSearcher" class="com.lezo.iscript.yeam.crawler.BarCodeSimilarSearcher">
	</bean>
	<bean id="haole9BarCodeGetter" class="com.lezo.iscript.yeam.crawler.Haole9BarCodeGetter"
		init-method="init">
		<property name="barCodeItemStorager" ref="barCodeItemStorager"></property>
	</bean>
	<bean id="barCodeItemStorager" class="com.lezo.iscript.yeam.storage.BarCodeItemStorager">
	</bean>
	<bean id="storageTimeTrigger" class="com.lezo.iscript.common.storage.StorageTimeTrigger">
		<property name="listeners">
			<list>
				<ref bean="barCodeItemStorager" />
			</list>
		</property>
	</bean>


	<bean id="qiniuMac" class="com.qiniu.api.auth.digest.Mac">
		<constructor-arg name="accessKey" value="${qiniu_accessKey}" />
		<constructor-arg name="secretKey" value="${qiniu_secretKey}" />
	</bean>
	<bean id="dataMessageHandler" class="com.lezo.iscript.yeam.resultmgr.DataMessageHandler">
		<property name="limit" value="100" />
		<property name="maxPathCount" value="100" />
		<property name="nameList">
			<list>
				<value>ConfigYhdProduct</value>
				<value>ConfigJdProduct</value>
				<value>ConfigJdPromotion</value>
				<value>ConfigProxyDetector</value>
				<value>ConfigProxyCollector</value>
				<value>ConfigYhdPromotion</value>
			</list>
		</property>
	</bean>

	<bean id="flushWriterTimer" class="com.lezo.iscript.yeam.resultmgr.writer.FlushWriterTimer"></bean>
	<bean id="luceneIndexer" class="com.lezo.iscript.yeam.solr.LuceneIndexer"></bean>
	<bean id="sorlSearchHandler" class="com.lezo.iscript.yeam.solr.SorlSearchHandler"></bean>

	<!-- Enables the Spring Task @Scheduled programming model -->
	<task:executor id="executor" pool-size="3" />
	<task:scheduler id="scheduler" pool-size="10" />
	<task:annotation-driven executor="executor"
		scheduler="scheduler" />
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="dataMessageHandler" method="run"
			cron="0 0/1 * * * ?" />
	</task:scheduled-tasks>
	<task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="flushWriterTimer" method="run"
			cron="0 0/5 * * * ?" />
	</task:scheduled-tasks>
	 <task:scheduled-tasks scheduler="scheduler">
		<task:scheduled ref="luceneIndexer" method="run"
			cron="0 20 14 * * ?" />
		<task:scheduled ref="sorlSearchHandler" method="run"
			cron="0/5 * * * * ?" />
	</task:scheduled-tasks> 
</beans>